Repository PlaytikaOSS/feign-reactive, pull requests merged in 2023-11, with the labels that each got.

#630 Update Github Workflow
  .github/dependabot.yml
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/maven.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/required-labels.yml
Labels: enhancement

#629 ReactiveFeignException prints exceptions stacktraces to error print stream
  feign-reactor-core/src/main/java/reactivefeign/client/ReactiveFeignException.java
Labels: bug, enhancement

#607 max allowed retries in reactive retry policy
  feign-reactor-core/src/main/java/reactivefeign/publisher/retry/RetryPublisherHttpClient.java
  feign-reactor-core/src/main/java/reactivefeign/retry/BasicReactiveRetryPolicy.java
  feign-reactor-core/src/main/java/reactivefeign/retry/FilteredReactiveRetryPolicy.java
  feign-reactor-core/src/main/java/reactivefeign/retry/ReactiveRetryPolicy.java
  feign-reactor-core/src/main/java/reactivefeign/retry/SimpleReactiveRetryPolicy.java
Labels: enhancement

#642 Fix support of "qualifier" parameter as feign client bean name
  feign-reactor-spring-configuration/src/main/java/reactivefeign/spring/config/ReactiveFeignBasicConfigurator.java
  feign-reactor-spring-configuration/src/main/java/reactivefeign/spring/config/ReactiveFeignClientsProperties.java
  feign-reactor-spring-configuration/src/main/java/reactivefeign/spring/config/ReactiveFeignClientsRegistrar.java
  feign-reactor-test/feign-reactor-spring-configuration-cloud2-test/src/test/java/reactivefeign/spring/config/cloud2/QualifierTest.java
  feign-reactor-test/feign-reactor-spring-configuration-cloud2-test/src/test/java/reactivefeign/spring/config/cloud2/SampleConfigurationsTest.java
  feign-reactor-test/feign-reactor-spring-configuration-cloud2-test/src/test/resources/error-decoder.properties
Labels: bug

#643 Fixes https://github.com/PlaytikaOSS/feign-reactive/issues/613
  feign-reactor-core/src/main/java/reactivefeign/methodhandler/PublisherClientMethodHandler.java
  feign-reactor-core/src/test/java/reactivefeign/allfeatures/AllFeaturesTest.java
  feign-reactor-spring-configuration/src/main/java/reactivefeign/spring/config/ReactiveFeignAutoConfiguration.java
Labels: bug
